
@font-face {
  font-family: "Proxima Nove";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nove"),
  local("ProximaNovaRegular"),
  url("../fonts/ProximaNovaRegular.woff");
}

@font-face {
  font-family: "Proxima Nove";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nove"),
  local("ProximaNovaBold"),
  url("../fonts/ProximaNovaBold.woff");
}
