.description {
  float: left;
  width: 600px;
  &__event {
    float: left;
    width: 300px;
  }
  &__title {
    float: left;
    margin: 0;
    margin-left: 10px;
    width: 605px;
    font-size: 60.5px;
    line-height: 60px;
    font-weight: 700;
  }
  &__date {
    float: left;
    margin: 0;
    margin-top: 38px;
    margin-left: 13px;
    width: 100px;
    font-size: 27px;
    line-height: 16px;
    font-weight: 700;
  }
  &__time {
    position: relative;
    float: left;
    margin: 0;
    margin-top: 38px;
    margin-left: 36px;
    font-size: 26px;
    line-height: 16px;
    font-weight: 400;
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 10px;
      background: #e6e6e6;
      top: 5px;
      left: -26px;
    }
  }
  &__timer {
    float: left;
    margin: 0;
    margin-top: 26px;
    margin-left: 14px;
    font-size: 27px;
    line-height: 27px;
    font-weight: 700;
    span {
      margin-left: 10px;
      font-size: 18px;
      line-height: 16px;
      font-weight: 400;
    }
  }
  &__place {
    float: left;
    margin-top: 23px;
    margin-left: 10px;
    width: 350px;
  }
  &__city {
    float: left;
    margin-right: 14px;
    padding: 13px 30px 12px 30px;
    font-size: 17.5px;
    line-height: 17px;
    font-weight: 400;
    color: #656769;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
}

.description__city:hover,
.description__city:focus {
  background: #e61035;
  color: #ffffff;
}

.description__slider {
  position: relative;
  width: 57px;
  height: 57px;
  margin-top: 52px;
  margin-left: 2px;
  margin-right: 14px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  cursor: pointer;
}

.prev::after {
  position: absolute;
  display: block;
  content: "";
  width: 57px;
  height: 57px;
  top: -1px;
  left: -1px;
  background-image: url("../img/prev.png");
}

.next::after {
  position: absolute;
  display: block;
  content: "";
  width: 57px;
  height: 57px;
  top: -1px;
  left: -1px;
  background-image: url("../img/next.png");
}
